body {
  font-family: 'Noto Sans', sans-serif;
  background-color: rgb(28,28,28);
}

.mynav {
  background-color: #030303 !important;
}

.star {
  margin-left: 130px;
  transition: 
    transform 0.5s linear;
}

.star:hover {
  transform: rotate(360deg);
  opacity: 1 !important;
}

.heading {
  color: #ffffff;
}

.subheading {
  color: #bbbbbb;
}
